.section-do {
    padding-top: 0;
    width: 1200px;
    &__lists {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }
    &__list {
        position: relative;
    }
    &__div-text {
        position: absolute;
        bottom: 3px;
        background-color: var(--color-bg-main);
        opacity: 0.8;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        color: var(--color-white);
        line-height: 1.142;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
}

// TABLET & MOBILE

@media screen and (max-width: 1200px) {
    .section-do {
        display: none;
    }
}